@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: hsl(0, 0%, 98%);
    padding: 5.2rem 2.1rem;
    font-family: 'Poppins', sans-serif;
}

.title{
    font-weight: 200;
    font-size: 1.8rem;
}

.introduction{
    padding: 0 0.4rem;
    text-align: center;
}

.introduction p{
    color: hsl(229, 6%, 66%);
    margin-top: 1.1rem;
    letter-spacing: -0.5px;
    
}

.content {
    background-color: white;
    margin-top: 1.5rem;
    border-radius: 5px;
    box-shadow: 5px 10px 20px hsl(228, 47%, 85%);
    min-height: 220px;
    padding: 1.3rem 1.6rem;
    border: 1px solid white;
}

.content p{
    margin-top: 0.5rem;
    font-size: 0.83rem;
    color: hsl(229, 6%, 66%);
}

.content.supervisor{
    border-top: 3px solid hsl(180, 62%, 55%);
}

.content.team{
    border-top: 3px solid hsl(0, 78%, 62%);
}

.content.karma{
    border-top: 3px solid hsl(34, 97%, 64%);
}

.content.calculator{
    border-top: 3px solid hsl(212, 86%, 64%);
}

.content img{
    display: block;
    margin-right: 1px;
    margin-left: auto;
    margin-top: 2rem;
    width: 22%;
}

footer{
    position: relative;
    bottom: -30px;
    

}

/* ------ media queries ---- */

@media (min-width: 700px){
    body{
        padding: 4.9rem .8rem;
    }

    main{
        display: grid;
        grid-template-columns: minmax(200px, 1fr) minmax(200px, 1fr) minmax(200px, 1fr);
        grid-template-rows: auto repeat(2, 1fr);
        column-gap: 10px;
    }

    .introduction{
        grid-column: 2 / 3;
        text-align: center;
        margin-left: -10px;
    }

    h1{
        font-size: 1.7rem;
        margin: 0 -50px;
    }

    .introduction p{
        font-size: .9rem;
        margin: 10px -90px;
    }

    .content{
        padding: 2rem 2rem 0rem 2rem;
        line-height: 1.6;
        max-height: 250px;
        
    }

    .content img{
        margin-top: 2.6rem;
    }

    .content.team{
        grid-column: 2 / 3;
    }

    .content.supervisor{
        grid-column: 1;
        grid-row: 2 / 4;
        align-self: center;
        padding-top: 1.6rem;
    }

    .content.karma{
        grid-column: 2 / 3;
        grid-row: 3;
    }
    

    .content.calculator{
        grid-column: 3;
        grid-row: 2 / 4;
        align-self: center;
    }

}

@media (min-width: 1415px){
    body{
        padding: 4.9rem 2.1rem;
        
    }

    main{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto repeat(2, 1fr); 
        column-gap: 40px;
        max-height: 810px;
    }

    h1{
        font-size: 2.265rem;
    }

    h2{
        font-size: 2.265rem;
    }

    .introduction p{
        margin: 10px -30px;
    }

    .content{
        padding: 2rem 2rem 0rem 2rem;
    }

    
}